<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOT FOUND</title>
    <style>
      div {
        margin: 100px 0;
        text-align: center;
      }
      
      h1 {
        color: rgb(209, 209, 32);
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Page NOT FOUND</h1>
      <h2>There is no page for: <u><%= message %></u></h2>
    </div>
  </body>
</html>
